.card {
  background-color: #ecf3f8;
  border-radius: 20px;
  border: 1px solid #ecf3f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 480px;
  width: 310px;
}

.cardImgContainer {
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  height: 300px;
  width: 100%;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 10px 20px;
  height: 180px;
}

.cardTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.cardDesc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cardIconEdit {
  display: flex;
  align-items: center;
  gap: 10px;
}
